<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default panel-login">
                <div class="panel-heading">
                    <h3 class="panel-title">Make the party rocks!</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form">
                    <fieldset>
                        <div class="form-group">
                            <input ng-model="partyName" class="form-control" placeholder="Party name" name="party" type="text" autofocus="true">
                        </div>
                        <div class="form-group">
                            <input ng-model="login" class="form-control" placeholder="Your nickname" name="login" type="text">
                        </div>
                        <button ng-click="join()" class="btn btn-lg btn-success btn-block">Join!</button>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>